.container {
    background-color: #ccc;
    height: 500px;
    display: flex;

    flex-direction: row;
    /* O flex-direction tem vários valores, o row é o valor padrão, deixando os arquivos alinhados um após o outro em 
    uma linha. O column deixa os arquivos em colunas. O row-reverse deixa os arquivos em forma de linha na ordem 
    inversa, da esquerda pra direita. O column-reverse deixa os arquivos em colunas na ordem inversa, da esquerda pra 
    direita.
    */

    flex-wrap: nowrap;
    /* O wrap permite a quebra de linha entre os elementos. O nowrap não permite a quebra de linha entre os elementos.
    O wrap-reverse permite a quebra de linha na ordem inversa, da esqueda pra direita.
    */

    /* flex-flow: row wrap-reverse; */
    /* O flex-flow é uma forma resumida de escrever o flex-direction e flex-wrap. 
    */

    justify-content: flex-start;
    /* Usada para fazer alinhamento horizontal sem alterar a ordem dos elementos. O flex-start alinha os elementos da 
    esquerda pra direita, esse também é o valor padrão do justify-content. O flex-end alinha os itens da direita para 
    a esquerda. O center alinha os elementos no centro da linha. O space-between alinha os arquivos com um espaçamento 
    entre eles. O space-around alinha os elementos com uma espaçamento igual entre os arquivos.
    */

    align-items: stretch;
    /* Usado para fazer alinhamento vertical. O stretch é o valor padrão, que alinha os elementos de forma igual.
    O flex-start alinha os elementos no topo. O flex-end alinha os elementos na parte de baixo, na base do container.
    O center alinha os elementos no centro do container. O baseline alinha os elementos verticalmente baseado no seu
    conteúdo.
    */

    /* align-content: flex-start; */
    /* Usado para fazer alinhamento vertical quando os itens estiverem com quebra. Usa as mesmas configurações do
    align-items.
    */
}

.item {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin: 5px;
    height: 30px;

    /* flex-grow: 1;
    O flex-grow é utilizado para declarar que os elementos tem a mesma largura.

    flex-shrink: 1;
    flex-basis: 300px; */
    flex: 1 1 300px;
}

.article-01 {flex-shrink: 3;}
.article-02 {}
.article-03 {}
.article-04 {}